# Main Node Env mode
NODE_ENV=

# App General Configuration
TITLE=
PORT=

# Request Log Level
MORGAN_LOG=

# Cors Origin URL
ORIGIN=

# DB Connection
DB_TYPE=
DB_FILE=

# API Credentials
API_USERNAME=
API_PASSWORD=